<html>

<head>
    <title> DataBase </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/basic.css') }}">
</head>

<body>
    <table>
        <caption>Reviews</caption>
        <caption> <input type="button" onclick="location.href='/dataBase.html'" value="refresh list"></caption>
        <tr>
            <th scope="col">review id</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">productName</th>
            <th scope="col">days</th>
            <th scope="col">satisfaction</th>
            <th scope="col">verdict</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td>{{item[6]}}</td>
            </td>
            {% endfor %}
    </table>
</body>

</html>